.good {
  color: green;
}

.bad {
  color: red;
}

#cats {
  font-size: 30px;

  div {
    width: 25%;
    display: inline-block;

    span {
      cursor: pointer;

      &:hover {
        background-color: lightcoral;
        color: black;
      }
    }
  }

  padding-bottom: 20px;
}

.jap {
  font-family: "Malgun Gothic", sans-serif;
}

.main, .main input {
  font-size: 30px;
}
