.good {
  color: green;
}

.bad {
  color: red;
}

#cats {
  div {
    width: 200px;
    display: inline-block;

    span {
      cursor: pointer;

      &:hover {
        background-color: lightcoral;
      }
    }
  }

  padding-bottom: 20px;
}

.jap {
  font-family: "Malgun Gothic", sans-serif;
}
