<div id="cats">
  <ng-container *ngFor="let c of categories">
    <div class="category-only" *ngIf="c.total > 0" (click)="practiceCategory(c)"><span>[{{c.lastFinished}}] {{ c.name }} ({{ c.total }} / {{ c.unfinished }})</span></div>
  </ng-container>
</div>

<div *ngIf="categoryValues.length > 0">
  <button (click)="dropCatValues()">done</button>
  <div *ngFor="let v of categoryValues">
    {{ v }}
  </div>
</div>

<div *ngIf="question !== null && question.id != 0">Session questions: {{ question.recordsRemaining }} (points: {{ question.points.total }} / {{ question.points.remaining }}, {{ perc() }}%)</div>
<div>
  <button (click)="sessionReset()">session reset</button>
  <button (click)="allQuestionsReset()">reschedule all questions</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="switchToVerification()">switch to verification</button>
</div>

<div class="main" [hidden]="question.recordsRemaining == 0">
  <div [hidden]="categoryValues.length > 0">
    <div>
      Question:<br />
      <span class="jap" *ngIf="!question.japaneseAnswer">{{ question.question }}</span>
      <span *ngIf="question.japaneseAnswer">{{ question.question }}</span>
      <span *ngIf="question.engExplanation">
        ({{ question.engExplanation }})
      </span>
      <span *ngIf="question.kanji" class="jap">
        ({{ question.kanji }})
      </span>
    </div>

    <div [hidden]="!question.japaneseAnswer && question.question">
      Answer:<br />
      <input class="jap"
        #answerInputJapanese
        (keyup.enter)="onEnter()"
        [(ngModel)]="answer"
      />
    </div>

    <div [hidden]="question.japaneseAnswer">
      Answer:<br />
      <input
        #answerInputEnglish
        (keyup.enter)="onEnter()"
        [(ngModel)]="answer"
      />
    </div>

    <div *ngFor="let n of history" class="jap">
      {{ n.question }} &ndash; {{ n.answer }}
      <span *ngIf="n.correct" class="good">✔</span>
      <span *ngIf="!n.correct" class="bad">✗</span>
      <span *ngIf="!n.correct">({{ n.correctAnswer }})</span>
      ({{ n.stat.correct }} / {{ n.stat.incorrect }})
    </div>
  </div>
</div>
