<div id="cats">
  <div *ngFor="let c of categories">
    <span (click)="getCategoryEntries(c)">{{ c }}</span>
  </div>
</div>

<div *ngIf="categoryValues.length > 0">
  <button (click)="dropCatValues()">done</button>
  <div *ngFor="let v of categoryValues">
    {{ v }}
  </div>
</div>

<div>Session questions: {{ question.recordsRemaining }} (points: {{ question.points.total }} / {{ question.points.remaining }}, {{ perc() }}%)</div>
<div>
  <button (click)="sessionReset()">session reset</button>
  <button (click)="allQuestionsReset()">reschedule all questions</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="switchToVerification()">switch to verification</button>
</div>

<div *ngIf="question.recordsRemaining > 0">
  <div *ngIf="categoryValues.length == 0">
    <div>
      Question:<br />
      {{ question.question }}
      <span *ngIf="question.engExplanation && question.japaneseAnswer">
        ({{ question.engExplanation }})
      </span>
      <span *ngIf="question.japExplanation && !question.japaneseAnswer">
        ({{ question.japExplanation }})
      </span>
    </div>

    <div [hidden]="!question.japaneseAnswer && question.question">
      Answer:<br />
      <input
        #answerInputJapanese
        (keyup.enter)="onEnter()"
        [(ngModel)]="answer"
      />
    </div>

    <div [hidden]="question.japaneseAnswer">
      Answer:<br />
      <input
        #answerInputEnglish
        (keyup.enter)="onEnter()"
        [(ngModel)]="answer"
      />
    </div>

    <div *ngFor="let n of history">
      {{ n.question }} &ndash; {{ n.answer }}
      <span *ngIf="n.correct" class="good">✔</span>
      <span *ngIf="!n.correct" class="bad">✗</span>
      <span *ngIf="!n.correct">({{ n.correctAnswer }})</span>
      ({{ n.stat.correct }} / {{ n.stat.incorrect }})
    </div>
  </div>
</div>
